services:
  frontend:
    image: node:20-slim
    container_name: dev-iot-molding-fe
    restart: always
    working_dir: /app
    ports:
      - 5173:5173
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - TZ=Asia/Jakarta
    command: sh -c "npm install && npm run dev -- --host"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
